@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Action Blue & Tonal Range */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;
  --color-background: #f9f9ff;

  /* Slate Neutrals */
  --color-slate-900: #041b3c;
  --color-slate-500: #4f5f7b;
  --color-slate-300: #c3c6d6;

  /* Semantic */
  --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;

  /*      Typography     */

  /* Display-LG */
  --text-display-lg: 3.5rem; /* 56px */
  --text-display-lg--font-weight: 700;
  --text-display-lg--line-height: 1;
  --text-display-lg--letter-spacing: -0.05em;

  /* Headline-LG */
  --text-headline-lg: 2rem; /* 32px */
  --text-headline-lg--font-weight: 600;
  --text-headline-lg--line-height: 2.5rem; /* 40px */
  --text-headline-lg--letter-spacing: 0;

  /* Body-MD */
  --text-body-md: 0.875rem; /* 14px */
  --text-body-md--font-weight: 400;
  --text-body-md--line-height: 1.625; 
  --text-body-md--letter-spacing: 0;

  /* Label-SM */
  --text-label-sm: 0.6875rem; /* 11px */
  --text-label-sm--font-weight: 700;
  --text-label-sm--line-height: 1.5; /* (16.5 / 11) = 1.5 */
  --text-label-sm--letter-spacing: 0.1em; /* (1.1px / 11px) = 0.1em */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: --color-background;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "inter", ui-sans-serif, system-ui;
}
