@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Action Blue & Tonal Range */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;
  --color-background: #f9f9ff;

  /* Slate Neutrals */
  --color-slate-900: #041b3c;
  --color-slate-500: #4f5f7b;
  --color-slate-300: #c3c6d6 /* Semantic */ --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;

  /* Typography */
  --font-sans: "inter", ui-sans-serif, system-ui;
  --font-weight-display: 700;
  --font-weight-body: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
